/*
Faceted Search styles, used in the left column.
author: lkemen@nuxeo.com
*/

/* Custom action bar */
.facetedSearchActionBar {
  background-color: "color.major.light (__FLAVOR__ background)";
  border-width: 1px;
  border-color: "color.major.medium (__FLAVOR__ border)";
  border-style: solid none;
  color: "default (__FLAVOR__ color)";
  margin: .5em 0 1.5em;
  padding: .2em .4em;
  text-align: right }

.facetedSearchActionBar a {
  float: left;
  padding-top: .3em }

.facetedSearchActionBar input.button {
  float: right;
  font-weight: bold;
  margin: 0 0 .1em 4em;
  padding: 0 .4em;
  width: auto }

/* Saved Search field */
#facetedSearchSelectorDiv,
#savedFacetedSearchSelectorDiv,
#allSavedFacetedSearchSelectorDiv {
  margin: 0;
  padding: 0 0 .4em }
#facetedSearchSelectorDiv p,
#savedFacetedSearchSelectorDiv p,
#allSavedFacetedSearchSelectorDiv p {
  background-color:"color.major.light (__FLAVOR__ background)";
  border-width: 1px;
  border-style: solid none;
  border-color: "noborder (__FLAVOR__ border)" "noborder (__FLAVOR__ border)" "neutral.light (__FLAVOR__ border)";
  font-weight: bold;
  margin-bottom: .2em;
  padding: .3em }
#saveFacetedSearchForm input,
#allSavedFacetedSearchSelectorDiv input { margin-left: .3em }
